setuptools_scm>=3,<4
flake8>=3.6,<4
flake8-html>=0.4,<1
flake8-bandit>=2.1.1,<3
flake8-bugbear>=20.1.0,<21.0.0
flake8-docstrings>=1.5,<2
flake8-print>=3.1.1,<4
flake8-tidy-imports>=4.2.1,<5
flake8-copyright==0.2.2  # Internal forked repo to fix an issue, keep specific version
pydocstyle>=5.1.1,<6
pycodestyle>=2.6.0,<3
mccabe>=0.6.1,<1
naming>=0.5.1,<1
pyflakes>=2.2,<3
genbadge[flake8]
