# --- to execute setup.py whatever the goal
six
pytest-runner
setuptools_scm

# -- to install
makefun>=1.7.0
decopatch

# --- to generate the reports (see scripts in ci_tools, called by .travis)
pytest-html$PYTEST_HTML_VERSION
xunitparser
requests

# --- to run the tests
pytest$PYTEST_VERSION
pytest-logging  # ==2015.11.4
pytest-steps
pytest-harvest

# --- to generate the reports (see scripts in ci_tools, called by .travis)
coverage

# --- to generate the doc (see .travis)
# does not work on python 2 anymore
#mkdocs-material  # ==2.7.3
#mkdocs  # ==0.17.3  # this is to prevent a version non-compliant with mkdocs-material to be installed.
